h1 {
    font-size: 4.5rem;
    margin: 50px 0 100px 0;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.container .counters {
    width: 300px;
    margin: auto;

    position: relative;
}

.container .counters .count {
    font-size: 9rem;
    background-color: #49517a;
    width: 200px;
    margin: auto;

    border-radius: 1rem;

    box-shadow: 3px 4px rgba(0,0,0,.3);
}

.container .counters p {
    font-size: 2rem;

    margin-top: 10px;
}

.container .counters .arrow {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 15px;
}

.container .counters .arrow img {
    width: 30px;
    margin: 5px 0 5px 0;

    cursor: pointer;
}

button {
    border: 1px solid #bbbcc0;
    border-radius: .5rem;

    margin-top: 50px;
    padding: .3rem 1rem;

    font-size: 3rem;

    background-color: #49517a;

    cursor: pointer;

    box-shadow: 3px 4px rgba(0,0,0,.3);
}

button:hover {
    transition: 200ms;

    background-color: #3C4262;
}

button a {
    text-decoration: none;
    color: #bbbcc0;
}